@font-face {
    font-family: 'title-font-ttf';
    src: url("../../fonts/titleFont.ttf") format('truetype');
}

@font-face {
    font-family: 'text-font-ttf';
    src: url("../../fonts/textFont.ttf");
}

.movie-info {
    line-height: 1.8;
}

.movie-info>h2 {
    font-family: 'title-font-ttf', arial;
}

.movie-info>p {
    font-family: 'text-font-ttf', arial;
    font-size: large;
}
