@font-face {
    font-family: 'title-font-ttf';
    src: url("../../fonts/titleFont.ttf") format('truetype');
}

@font-face {
    font-family: 'text-font-ttf';
    src: url("../../fonts/textFont.ttf");
}

/* .currentChar */

button {
    cursor: "pointer";
    background-color: "aliceblue";
    padding: "20px";
    width: "fit-content";
    border: "1px solid grey";
    border-radius: "5px";
}