#title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

@keyframes loadingAnimation {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.loading {
    animation: loadingAnimation 1.5s infinite;
}